@import "tailwindcss";
.container{
    @apply mx-auto px-2.5 relative
}
.section{
    @apply min-h-[calc(100vh-80px)]
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}